.benefits-button {
  &-next,
  &-prev {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: theme('colors.white');
    border: 1px solid theme('colors.stroke.dark');
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear;
    svg {
      stroke: theme('colors.brand.700')
    }
    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
    @media (max-width: theme('screens.md.max')) {
      display: none;
    }
  }
  &-prev {
    left: 0;
    transform: translate(-50%,-50%);
    svg {
      transform: rotate(90deg);
    }
  }
  &-next {
    right: 0;
    transform: translate(50%,-50%);
    svg {
      transform: rotate(-90deg);
    }
  }
}

@media (max-width: theme('screens.md.max')) {
  .about-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(255,230,202);
    background-image: linear-gradient(180deg, rgba(255,230,202,1) 0%, rgba(255,248,229,1) 60%, rgba(255,230,202,1) 100%);
  }
}