.product-card {
  &-pagination {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 16px;
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: theme('colors.brand.300');
      cursor: pointer;
      &-active {
        background-color: theme('colors.brand.700');
      }
    }
  }
  &-button-prev,
  &-button-next {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: theme('colors.white');
    border: 1px solid theme('colors.stroke.dark');
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear;
    svg {
      stroke: theme('colors.brand.700')
    }
    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
  &-button-prev {
    left: 0;
    transform: translate(-50%,-50%);
    svg {
      transform: rotate(90deg);
    }
  }
  &-button-next {
    right: 0;
    transform: translate(50%,-50%);
    svg {
      transform: rotate(-90deg);
    }
  }
}

.product-slider {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid theme('colors.stroke.dark');
  background-color: theme('colors.white');
  border-radius: 20px;
  padding: 40px 0 !important;
  @media (max-width: theme('screens.md.max')) {
    padding: 24px 0 !important;
    margin-bottom: 4px;
  }
  .product-slider-button-next,
  .product-slider-button-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid theme('colors.stroke.dark');
    border-radius: 50%;
    background-color: theme('colors.white');
    svg {
      stroke: theme('colors.brand.700');
    }
  }
  .product-slider-button-prev {
    left: 20px;
    svg {
      transform: rotate(90deg);
    }
  }
  .product-slider-button-next {
    right: 20px;
    svg {
      transform: rotate(-90deg);
    }
  }
}

.product-thumbs-slider {
  .swiper-slide {
    height: 80px;
    width: 80px;
    padding: 8px;
    border: 1px solid theme('colors.stroke.dark');
    background-color: theme('colors.white');
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.4;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}